.detail-container {
    width: 95%;
    margin: 60px auto;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

.detail-header {
    font-size: 28px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

.detail-row-1, .detail-row-2, .detail-row-3, .detail-row-4, 
.detail-row-5, .detail-row-6, .detail-row-7, .detail-row-8, 
.detail-row-9, .detail-row-10, .detail-row-11, .detail-row-12 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.detail-column-1, .detail-column-2, .detail-column-3 {
    width: 30%; /* Each column takes 30% of the row's width */
    margin-right: 10px;
}
.detail-row-1 .detail-column-2{
    width: 70%;
}
.deatil-column-label {
    font-weight: bold;
    color: #34495e;
    margin-bottom: 5px;
    font-size: 14px;
}

.deatil-column-data {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
    word-wrap: break-word;
    font-size: 14px;
}

.deatil-column-data.textarea-style {
    height: 100px;
    white-space: pre-wrap;
    overflow-y: scroll;
}

/* Align textarea fields for description, mail list, and comments */
.textarea-style {
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    resize: none;
}

.detail-column-1 .deatil-column-data.textarea-style,
.detail-column-2 .deatil-column-data.textarea-style,
.detail-column-3 .deatil-column-data.textarea-style {
    height: 100px;
}

/* Adding a bit of spacing between rows and columns */
.detail-column-1, .detail-column-2, .detail-column-3 {
    margin-right: 15px;
}

.detail-column-1:last-child,
.detail-column-2:last-child,
.detail-column-3:last-child {
    margin-right: 0;
}
.pdf-downmoad-button-container{
    float: right;
    margin: 8px;
} 
.pdf-downmoad-button-container button{
    padding: 5px;
    border-radius: 5px;
    background-color: #288df2;
    border: 1px black;
    font-weight: bold;
}
.pdf-downmoad-button-container button:hover{
    cursor: pointer;
    background-color: #1e7ad7;
}

.pdf-downmoad-button-container img{
    float: left;
}
.pdf-downmoad-button-container div{
    float: left;
    margin: 7px;
}


.back-button-container{
    float: left;
    margin: 20px;
}
.back-button-container button{
    border-radius: 50px;
    background: transparent;
    border: 1px #333;

}
.back-button-container button:hover{
    cursor: pointer;
}
.back-button-container img{
    margin: 1px;
}