################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectHive.API/ProjectHive.API/ProjectHive.API.csproj
