.table-loader-container{
    padding: 150px;
}
.custome-loader {
    border: 8px solid #f3f3f3; /* Light grey background */
    border-top: 8px solid #3498db; /* Blue color */
    border-radius: 50%; /* Circular shape */
    width: 60px; /* Width of the loader */
    height: 60px; /* Height of the loader */
    animation: spin 1s linear infinite; /* Animation */
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
